Package: com.ipaddisplay.client
Name: PadDisplay
Version: 0.5.0
Architecture: iphoneos-arm
Description: Low-latency H.264 second-display client for jailbroken iOS 10.
Maintainer: iPad Display Project
Author: iPad Display Project
Section: Utilities
